.first{
/* height: 1500px; */
background-color: white;

}
.nav{
    display: flex;

}
.navv{
margin: 15px;
display: flex;
position: relative;
top: -40px;


}
.float{
    float: right;
    display: flex;
    margin: 15px;


}
.one{
    height: 50px;
    
}
#button{
    color: aliceblue;
    background-color: blue;
    top: -40px;
    height: 20px;
    margin: 15px;
display: flex;
position: relative;
}
.two{
    background-image: url("images/bg.png");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.back{
    text-align: center;

    padding: 70px;
}
.services{
    background-color: blue;
    color: aliceblue;
}
.touch{
    color: aliceblue;
    background-color: transparent;
}
#pic{
    height: 300px;
    
    float: right;
    padding: 300 0px;
}
.info{
    padding: 30px;
}
.about{
    height: 300px;
}
.price{
    text-align: center;
    color: aliceblue;
    padding: 70px;
}
.affordable{
    background-image: url("images/Rectangle\ 11.png");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.airline{
    height: 400px;
}
.edit{
    height: 170px;
}
.air{
    border: 1px solid rgb(187, 168, 168);
    border-radius: 25px;
    margin: 20px;
    
}
.plane{
    display: flex;
    justify-content: center;
}
.contacts{
      display: flex;
    height: 400px;
    background-color: blue;
    justify-content: space-evenly;

}
#us{
    color: aliceblue;
    padding: 30px 50px;
}
.card{
    border: 1px solid white;
    background-color: white;
    height: 250px;
    float: right;
    padding: 30px 30px;
    border-radius: 7px;
    margin-top: 70px;
    width: 300px;
    align-items: center; 
}
.copy{
    text-align: center;
    background-color: rgb(3, 3, 26);
    color: grey;
    height: 50px;
}