.first{
height: 1500px;
background-color: white;

}
.nav{
    display: flex;

}
.navv{
margin: 15px;
display: flex;
position: relative;


}
.float{
    float: right;
    display: flex;
    margin: 15px;

}
.one{
    height: 50px;
    
}
#button{
    height: 20px;
}
.two{
    background-image: url("images/bg.png");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.back{
    text-align: center;

    padding: 70px;
}
.services{
    background-color: blue;
    color: aliceblue;
}
.touch{
    color: aliceblue;
    background-color: transparent;
}
#pic{
    height: 300px;
    
    float: right;
    padding: 300 0px;
}
.info{
    padding: 30px;
}
.about{
    height: 300px;
}
.price{
    text-align: center;
    color: aliceblue;
    padding: 70px;
}
.affordable{
    background-image: url("images/Rectangle\ 11.png");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.airline{
    height: 400px;
}
.edit{
    height: 165px;
}
.air{
    box-shadow: 5px 10px 1px 1px solid brown;
    border-radius: 25px;
    margin: 20px;
    
}
.plane{
    display: flex;
    justify-content: center;
}